<html>
  <head>
    <title>Demo Page: {{dataset}}</title>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='main.css')}}" />
  </head>

  <body>
  	<div id="wrapper">
  		<div id="columns">
  		{% for item, name, url in items %}
  			<div class="pin">
  				<a href="/similar_items/{{item}}"><img src="{{url}}" alt="{{name}}" ></a>
  				<p>{{name}}</p>
          <br>
          <p> Purchased by {{"%d" %icount[item]}} people</p>

  			</div>
  		{% endfor %}	
		</div>
	</div>
  </body>
</html>